@model DataArchives.Models.ViewModel.OneArticleV


    <div class="rounded border border-warning" id="OneArticleFull_@Model.Article.Id">
        <div class="row no-gutters">
            <div onclick="OpenArticlePage(@Model.Article.Id)" class="col-2 bg-warning">
                @* <a asp-controller="Archives" asp-action="ArticleRecord" asp-route-id="@Model.Article.Id"></a>*@
                @Model.Article.Lvl
               
            </div>

            <div class="col-10">
                @*заголовок статьи, при нажатии открывается alert с содержимым*@
                <div id="oneArticleHead_@Model.Article.Id" class="text-break">
                    <label id="oneArticleHeadLabel_@Model.Article.Id">@Model.Article.Head</label>
                </div>
            </div>
        </div>
        @if (Model.UserId == Model.Article.UserId)
        {
            <div class="">
                <div id="actionsArticleButton_@Model.Article.Id" onclick="actionsArticle('@Model.Article.Id')" class="text-center btn btn-default btn-sm btn-block border-top">
                    <small class="text-muted">Показать действия</small>
                </div>
                <div id="articleActions_@Model.Article.Id" class="one-article-actions" style="height:0;">

                </div>
            </div>
        }





    </div>

